.portfolio .container {
	background-color: var(--primary-container-bg);
}
.portfolio .content {
	margin: 100px 0px;
}
.portfolio .title-section .main-title span {
	color: var(--icon-color);
	font-size: 6rem;
}
.portfolio .line {
	margin-top: 50px;
	border-bottom: 5px solid var(--icon-color);
}
.portfolio .portfolio-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
	margin-top: 50px;
}
.portfolio .portfolio-grid .portfolio-box {
	height: 350px;
	width: 300px;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
	overflow: hidden;
	justify-self: center;
}
.portfolio .portfolio-grid .portfolio-box img {
	transition: opacity 0.5s ease-in-out;
	opacity: 0.8;
	height: 350px;
	object-position: 50% 50%;
}
.portfolio .portfolio-grid .portfolio-box:hover img {
	opacity: 1;
}
.portfolio .portfolio-grid .portfolio-box .overlay {
	position: absolute;
	width: 100%;
	bottom: 0;
	color: var(--primary-white-font);
	background: rgba(0, 0, 0, 0.9);
	padding: 15px;
	display: flex;
	align-items: center;
	transform: translateY(100px);
	transition: 0.5s;
}
.portfolio .portfolio-grid .portfolio-box:hover .overlay {
	transform: translateY(0px);
	transition: 0.5s ease-in-out;
}
.portfolio .portfolio-grid .portfolio-box .overlay .subtitle {
	margin-right: 10px;
}
.portfolio .portfolio-grid .portfolio-box .overlay .icon {
	height: 30px;
	width: 30px;
	background: var(--icon-color);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
/* MEDIA QUERIES START */

/* Small devices (portrait tablets and large phones) */
@media (min-width: 0px) and (max-width: 767px) {
}
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 992px) {
}
/* Large devices (laptops/desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops) */
@media (min-width: 1200px) {
}
/* MEDIA QUERIES END */
