@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&family=Raleway:wght@300;500;600;900&display=swap");
:root {
	--primary-white-font: #fffffe;
	--primary-black-font: #1a1a1a;
	--primary-container-bg: #032540;
	--primary-white-bg: #f4f4f4;
	--primary-bg: #031f35;
	--icon-color: #e0a300;
	--primary-hover: #f2b705;
	--small-subtitle-color: #3c505e;
	--grey-bg: rgba(206, 202, 202, 0.1);
	--grey-title: grey;
	--primary-orange: #ed4304;
	--paragraph: #777e83;
	--opacity: rgba(0, 0, 0, 0.4);
	--shadow: 0px 14px 9px -5px rgba(0, 0, 0, 0.64);
	--click-bg-yellow: #f2cb05;
	--click-bg-gold: #f2b705;
	--click-bg-brown: #73513d;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	scroll-behavior: smooth;
}
body {
	background: var(--primary-bg);
	color: var(--primary-white-font);
}
/* UTILITIES START */
.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}
h2 {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.3;
	text-transform: uppercase;
}

.main-title {
	font-size: 5rem;
	font-weight: 900;
	line-height: 1.3;
	text-transform: uppercase;
}
.subtitle {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
	gap: 20px;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
}
p {
	font-size: 1rem;
	font-weight: 500;
	color: var(--paragraph);
	margin-top: 10px;
	line-height: 1.5;
}
/* UTILITIES END */

/* CONTENT SECTION */
.banner {
	position: relative;
	background: url(/images/crane-scape.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 100vh;
	width: 100%;
	z-index: 0;
}
.banner .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: var(--opacity);
}
.banner .titleInfo {
	padding: 150px 0;
	position: relative;
	z-index: 100;
	color: var(--primary-white-font);
}
.banner .titleInfo .main-title span {
	color: var(--icon-color);
	padding: 0 5px;
	font-size: 6rem;
}

.banner .titleInfo .infoBtn {
	background: var(--primary-container-bg);
	color: var(--primary-white-font);
	padding: 10px 20px;
	border: 1px solid var(--primary-white-bg);
	border-radius: 15px;
	display: inline-block;
	margin-top: 20px;
	font-weight: 900;
	text-transform: uppercase;
	transition: 0.5s;
}
.banner .titleInfo .infoBtn:hover {
	background: var(--primary-white-bg);
	color: var(--primary-container-bg);
	border: 1px solid var(--primary-container-bg);
}

/* HEADER START */

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: transparent;
	width: 100%;
	height: 80px;
	padding: 0 50px;
	transition: 0.5s;
}
/* STICKY NAVBAR START */
header.sticky {
	background: var(--primary-container-bg);
	opacity: 0.9;
	padding: 0 50px;
	height: 70px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
header.sticky .logo {
	color: var(--icon-color);
}
header.sticky .nav .flex a {
	color: var(--primary-white-font);
}
/* STICKY NAVBAR END */

header .logo {
	font-size: 4rem;
	color: var(--icon-color);
}

header .flex {
	justify-content: space-between;
}
header .nav .flex a {
	color: var(--primary-white-font);
	font-size: 1.5rem;
	padding: 0 15px;
	transition: 0.5s;
}
header .nav .flex a:hover {
	color: var(--primary-hover);
	font-size: 1.5rem;
	padding: 0 15px;
	cursor: pointer;
}
/* ABOUT SECTION START */
#about {
	margin: 150px 0px;
}
#about .container {
	background-color: var(--primary-container-bg);
}
#about .flex {
	justify-content: space-between;
	flex-wrap: wrap;
}
#about .content {
	margin: 100px 0;
}
#about .content .title-group {
	justify-self: flex-start;
}
#about .about-info {
	max-width: 500px;
	padding: 20px;
	font-weight: 300;
	border-left: 2px solid var(--icon-color);
}
#about .line {
	margin-top: 50px;
	border-bottom: 5px solid var(--icon-color);
}
#about .title-group h2 span {
	font-size: 6rem;
	color: var(--icon-color);
	font-weight: 700;
}
#about .specialties-section {
	margin-top: 100px;
}
#about .specialties-section > .subtitle {
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 50px;
}
#about .specialties-section .grid {
	display: grid;
	background: var(--opacity);
	padding: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
}
#about .specialties-section .grid .box {
	height: 350px;
	border: 1px solid var(--primary-white-bg);
	transition: 0.5s;
	padding: 15px;
}

#about .specialties-section .grid .box .icon {
	font-size: 4rem;
	color: var(--icon-color);
	margin-bottom: 1rem;
}
#about .specialties-section .grid .box .subtitle {
	font-weight: 700;
	margin-bottom: 1rem;
}

/* #about .specialties-section .grid .box .info-section p {
	margin: 50px 0 auto;
	max-width: 250px;
} */
/* #about .grid {
	grid-template-columns: repeat(4, 1fr);
	background: var(--opacity);
	color: white;
	height: 300px;
	margin-top: 20px;
	padding: 20px;
} */
/* #about .client-options {
	flex-direction: column;
	color: var(--primary-black-font);
	text-decoration: none;
	width: 250px;
	border-bottom: none;
	background-color: var(--primary-white-bg);
} */
/* #about .client-options:hover {
	transition: all 0.3s ease-in-out;
	background: var(--opacity);
	color: var(--primary-white-font);
	border: 2px solid var(--primary-white-bg);
} */
/* 
#about .client-options i {
	font-size: 3rem;
} */
/* #about .client-options .title {
	font-weight: 700;
	font-size: 0.9rem;
} */

/* ABOUT SECTION END */

/* CORE VALUES SECTION START */
#core-values {
	padding: 150px 0;
}

#core-values img {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#core-values .values-box {
	background: var(--grey-bg);
	padding: 20px;
}
#core-values .title-section {
	margin-bottom: 30px;
}
#core-values .title-section h2 span {
	font-size: 6rem;
	color: var(--icon-color);
	font-weight: 700;
}

#core-values .title {
	font-size: 3rem;
}
#core-values .value-header {
	justify-content: flex-start;
}
#core-values .value-header .icon {
	background: var(--primary-orange);
	height: 40px;
	width: 40px;
	border-radius: 50px;
	color: var(--primary-white-font);
	margin-right: 15px;
}
#core-values .values-box .subtitle {
	font-size: 1.3rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#core-values .values-box .values-info {
	margin-bottom: 15px;
}
/* CORE VALUES SECTION END */

/* PORTFOLIO SECTION START */
.portfolio {
	padding: 150px 0;
	background: var(--click-bg-brown);
}
.portfolio .title-section .main-title span {
	color: var(--icon-color);
	font-size: 6rem;
}
.portfolio .portfolio-grid-section {
	background: var(--grey-bg);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding: 50px;
	gap: 25px;
	margin-top: 50px;
}
.portfolio .portfolio-grid-section .project-box {
	height: 100%;
	width: 300px;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 1);
	border-radius: 10px;
	padding: 15px;
	cursor: pointer;
	transition: 0.5s;
}
.portfolio .portfolio-grid-section .project-box .content {
	position: relative;
	opacity: 0.7;
	transition: 0.5s;
}
.portfolio .portfolio-grid-section .project-box:hover .content {
	opacity: 1;
}

.portfolio .portfolio-grid-section .project-box .project-img img {
	object-fit: cover;
	height: 100%;
}
.portfolio .portfolio-grid-section .project-box .project-info {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.portfolio .portfolio-grid-section .project-box .project-info .project-title {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1rem;
	padding: 0 15px;
}
.portfolio .portfolio-grid-section .project-box .project-info .project-btn {
	background: var(--primary-orange);
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid var(--primary-white-bg);
}
.portfolio .portfolio-grid-section .project-box .project-info .project-btn a {
	color: var(--primary-white-font);
}

footer {
	background: var(--grey-bg);
	padding: 50px 0;
}
footer .flex {
	justify-content: space-between;
}
footer .flex li a {
	color: var(--primary-black-font);
	margin-right: 30px;
	font-size: 1.3rem;
}
footer .flex li a:hover {
	color: var(--primary-orange);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

/* MEDIA QUERIES START */

/* Small devices (portrait tablets and large phones, 640px) */
@media (max-width: 767px) {
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1024px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1280px) {
}
/* MEDIA QUERIES END */
